*{

}

.OpeningTextDiv{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 3em;
    padding:1em;
}
.OpeningTextDiv *{
    margin-bottom:.5em;
    text-align: left;
}