
  .Opening{
    display: flex;
    width: 100%;
    font-size: calc(10px + 2vmin);
    height: 100%;
  }
  

  @media (min-aspect-ratio: 6/4) {
    .Opening{
      margin-top: calc(10px + 20vmin);
      flex-direction: row;
      justify-content: space-between;
    }
    .Opening .ContactDiv{
      width: 10%;
      align-self: center;
      justify-self: center;
    }
  }

  @media (max-aspect-ratio: 6/4) {
    .Opening{
      height: 90vh;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
    }
    .Opening .ContactDiv{
      justify-self: center;
      align-self: center;
    }
  }