
  .Opening{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;
    width: 100%;
    font-size: calc(10px + 2vmin);
    height: 100%;
  }
  

  @media (min-aspect-ratio: 5/4) {
    .Opening{
      
    }
  }
  @media (max-aspect-ratio: 5/4) {
    .Opening{
    }
  }