
  
  .Opening{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;

    font-size: calc(10px + 2vmin);
    min-height: 100vh;

  }
  