
  .Opening{
    display: flex;
    width: 100%;
    font-size: calc(10px + 2vmin);
    height: 100%;
  }
  


  @media (min-aspect-ratio: 4/4) {
    .Opening{
      margin-top: calc(10px + 20vmin);
      flex-direction: row;
      justify-content: space-around;


    }
  }

  @media (max-aspect-ratio: 4/4) {
    .Opening{
      height: 90vh;
      flex-direction: column;
      justify-content: space-between;
      align-content: space-around;


    }
  }