

.OpeningTextDiv{
    display: flex;
    flex-direction: column;
    align-items: start;
    
}
.OpeningTextDiv p{
    text-align: left;
    font-size: calc(10px + 2vmin);
    
}


@media (max-aspect-ratio: 4/4) {
    .OpeningTextDiv{
        flex: 80%;
        padding:1em;
        align-content: center;

    }
  }
  @media (max-aspect-ratio: 4/4) {
    .OpeningTextDiv{
        flex: 50%;
        padding:1em;
    }
  }