

.OpeningTextDiv{
    display: flex;
    flex-direction: column;
    align-items: start;
    
}
.OpeningTextDiv p{
    text-align: left;
    font-size: calc(10px + 2vmin);
    
}


@media (min-aspect-ratio: 4/4) {
    .OpeningTextDiv{
        padding:1em;
        align-content: center;
        width:70%
    }
  }
  @media (max-aspect-ratio: 4/4) {
    .OpeningTextDiv{
        padding:1em;
        width:100%;
    }
  }