.ProjectComponent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-style: solid;
    border-width: .1em;
    border-radius: 1em;
    margin-bottom: 2em;
    margin-top: 0;
    width: 100%;
}
.ProjectComponent h1{
    width: fit-content;
    font-size: calc(10px + 2vmin);

}
.ProjectContents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

@media (min-aspect-ratio: 5/4) {
    .ProjectComponent{
        margin: 3em;
        margin-top:0;
        height: 100%;
    }
    .ProjectDescription ul{
        padding:1em;
        width:100%;
        
    }
    .ProjectFigure{
        margin:1em;
        width:50%
    }
  }
  @media (max-aspect-ratio: 5/4) {
    .ProjectComponent{
        width: 100%;
        margin: .5em;
        margin-bottom: 2em;
        margin-top:0;
    }
    .ProjectDescription ul{
        padding:0;
    }
    .ProjectFigure{
        margin:0;
    }
  }

.ProjectHeader{
}
  

.ProjectDescription{
    margin: 2em;
    max-width: 50%;
    align-self: start;
}
.ProjectDescription h1{
    font-size: calc(10px + 2vmin);
}
.DescriptionList{
    text-align: start;
    font-size: calc(1px + 2vmin);
}

.DescriptionList *{
    margin-bottom: 1em;
}



.ProjectFigure{
    height: 100%;
    margin-right:1em;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ProjectFigure figcaption{
    justify-self: right;
    cursor: pointer;
}
.ProjectImage{
    width: 100%;
    border-radius: 1em;
    box-shadow: .5em .5em .5em #00000070;
    cursor: pointer;

}