.ProjectHeader{
    margin:.5em;
}
.ProjectComponentList{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding:0;
    width: 100%;

}





@media (min-aspect-ratio: 5/4) {
    .ProjectComponentList *{
        width: 80%;
        align-self: center;
        justify-self: center;
    }
  }
  @media (max-aspect-ratio: 5/4) {
    .ProjectComponentList *{
        max-width: 100%;
    }
  }
