.ProjectHeader{
    margin:.5em;
}
.ProjectComponentList{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding:0;
}





@media (min-aspect-ratio: 5/4) {
    .ProjectComponentList{
        margin-left:0px
    }
  }
  @media (max-aspect-ratio: 5/4) {
    .ProjectComponentList{
        margin-left:12px
    }
  }
