.ProjectComponent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    border-style: solid;
    border-width: 1px;
    border-radius: 1em;

}
@media (min-aspect-ratio: 5/4) {
    .ProjectComponent{
        flex: 45%;
        max-width: 45%;
        margin: 1em;

    }
  }
  @media (max-aspect-ratio: 5/4) {
    .ProjectComponent{
        flex: 100%;
        width: 100vw;
        margin: 2em;
    }
  }

  

.ProjectDescription{
    margin: 2em;
    max-width: 50%;
}
.DescriptionList{
    text-align: start;
    font-size: large;
}

.DescriptionList *{
    margin-bottom: 1em;
}



.ProjectFigure{
    height: 100%;
    margin:1em;
}
.ProjectImage{
    max-height: 33vh;
    width: 100%;
    border-radius: 1em;
    box-shadow: .5em .5em .5em #00000070;

}