.App {
  text-align: center;
  background-color: #282c34;
  font-family: 'Courier New',  Courier, 'Lucida Console';
}

*{
  background-color: #282c34;
  color:#00FF41;
  box-sizing: border-box;
  margin:0;
}

.Opening{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}


@media (min-aspect-ratio: 5/4) {
  .OpeningTextDiv{
      flex: 80%;
      padding:1em;
  }
}
@media (max-aspect-ratio: 5/4) {
  .OpeningTextDiv{
      flex: 50%;
      padding:1em;
  }
}