.ProfilePic{
    width: 100%;
    height: 100%;
    border-radius: 5em;
  }

.GitHubButton{
    width: 100%;
    height: 100%
}
.GitHubButton:hover{
    cursor: pointer;
}

.IconFlexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.LinkedInButton{
    width: 100%;
    height: 100%
}
.LinkedInButton:hover{
    cursor: pointer;
}
.GitHubButton, .LinkedInButton {
    align-self: center;
    justify-self: center;
    width: 50px;  /* or whatever size you desire */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}