.NavigationFlexBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: x-large;
}

.NavigationFlexBox a{
    text-decoration: none;
    padding:.5em;
}